
div {
  border-radius: 10px;
  text-align: center;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 50px;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0.04em;
  text-align:center;
}

.child {
  position: absolute;
  top: 200px;
}

.square {
  left: 150px;
  height: 300px;
  width: 300px;
  background-color: rgb(248, 10, 10);
}

.circle {
  right: 150px;
  height: 300px;
  width: 300px;
  background-color:rgb(71, 43, 235);
}

ul {
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: justify;
    position: relative;
}

li {
  margin: 0 0 8px 0;
}

.square:hover ~ .circle 
{
  background-color: rgb(248, 244, 21);
  border-radius: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: center;
  padding: 10px;
}

#buttonDeleteCR{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color:rgb(10, 10, 10);
  background-color:rgb(248, 10, 10);
  border-radius: 5%;
  width: 150px;
  padding: 15px;
  margin-left: 45%;  
 }

#buttonDeleteS{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color:rgb(10, 10, 10);
  background-color: rgb(71, 43, 235);
  border-radius: 5%;
  width: 150px;
  padding: 15px;
  margin-left: 45%;
 }